@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.puranav{
  height: 60px;
  /* position: absolute; */
  top:0;
  /* width: 100%; */

}

.Nav-bar{
  height: 60px;
  width: 100vw;
  border-bottom: 0.01px solid lightgray;
  position: fixed;
  top:0;
  /* margin: 0px 80.615px; */
  /* border-top: 4px solid rgb(20, 43, 111); */
}
.Nav-bar .lists{
  height: 100%;
  width: 100vw;
  
  display: flex;
  background-color: white;
  color:rgb(20, 43, 111);
  /* font-family: LL Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
  font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    justify-content: space-around;

  list-style: none;
}
.Nav-bar .lists li{
  margin-top: 15px;
}
.lists li:hover{
  border-bottom: 4px solid rgb(255, 214, 0);
  cursor: pointer;
}
.Nav-bar .lists #topic{
  font-size: 1.6rem;
  
}
.yellcap img{
  /* position: relative; */
  /* top:60px; */
  height: 500px;
  width: 95%;
  margin: 0px 31.547px;
  margin-bottom: 64px;
}
.text1{
  position: absolute;
  top:150px;
  left:150px;
  margin: 0 406.031px;
  color:rgb(20, 43, 111);
  font-family: 'Roboto',sans-serif;
  font-size: 73px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 74px;
  text-align: left;
  text-size-adjust: 100%;
}
.text1 .line1{
  padding: 6px 0;
}
.text1 .line2{
  position: absolute;
  left:-120px;
}

.text2{
  position: absolute;
  top:310px;
  left:150px;
  margin: 0 406.031px;
  color:rgb(20, 43, 111);
  font-family: Dutch801, serif;
  font-size: 73px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 74px;
  text-align: left;
  text-size-adjust: 100%;
}
.btn{
  position: absolute;
  top:400px;
  left:20%;
  transform: translate(-50%,0);
  margin: 0 406.031px;
  color:white;
  background-color: rgb(20, 43, 111);
  padding: 10px 40px;
  border-radius: 20px;
  border: rgb(20, 43, 111);
 
/* align-items: center; */
/* box-sizing: border-box; */
/* display: flex; */
/* height: auto; */
justify-content: center;
/* width: auto; */
font-family: "LL Circular", -apple-system, BlinkMacSystemFont, 'Roboto', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
/* text-decoration-thickness: auto; */
text-size-adjust: 100%;
white-space: nowrap;
cursor: pointer;
}

.btn:hover{
background-color: white;
color:#142b6f;
border: white;
}

.card{
  /* width: 25%; */
  display: inline-flex;
  /* margin-top: 64px; */
}
 .outcard{
   display: inline;
   padding: 0px 80.617px;
   /* margin-top: 64px; */
    /* margin-left: 80.917px; */
}
.card .incard{
  margin-right: 30px;
  flex-wrap: nowrap;
  cursor: pointer;

}
.card .incard img{
  width: 270px;
  height: 140px;
}
.card .incard p{
  color:#142b6f;
  padding: 12px 0;
font-family:"LL Circular", sans-serif;
font-size: 18px;
font-weight: 300;
letter-spacing: normal;
line-height: 24px;
text-align: center;
/* text-decoration-thickness: auto; */
text-size-adjust: 100%;
white-space: nowrap;
  background-color: rgb(245, 241, 241);
}
#card1{
  margin-left: 80.617px;
}

.fullsec{
  margin: 80px 80.614px 120px 80.614px;
  padding: 0 15px;
  font-family: 'Roboto';
  color: #142b6f;
  /* position: relative; */
}
.textofic{
  text-align: center;
  padding: 0 15px;
  margin-left: 97.489px;
  color:#142b6f;

}
.outoftext ul{
  padding: 0 15px;
  margin-left: 195px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.outoftext li{
  margin-right: 46.996px;
  margin-bottom: 16px;
  font-size: 16.5px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}
/* .capimg{
  position: relative;
  

} */

.circle{
  height: 770px;
  width: 770px;
  border-radius: 50%;
  background-color: rgb(255, 214, 0);
  /* position: absolute; */
  left: -385px;
  top:-40px;
}
.sidecon{
  /* height: 570px; */
  width: 470px;
  font-weight: 400;
  font-family: 'Roboto';
  color:#142b6f;
  margin-left: 10%;
  margin-top: -570px;
  float:right;
  transform: translate(-17%,0);
}

.sidecon h2{
margin-bottom: 24px;
font-family: 'Roboto', 'sans-serif';
font-size: 40px;
font-weight: 600;
letter-spacing: -1.4px;
line-height: 54px;
text-align: left;
text-size-adjust: 100%;
}
.sidecon p{
  font-family: serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.sidecon a{
  font-family: 'Roboto';
  color: #142b6f;
  font-size: 18px;
  border-bottom: 1.996px solid rgb(20, 43, 111);
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  /* text-decoration-color:rgb(20, 43, 111); */
  text-decoration-line:none ;
  text-decoration-style:solid; 
}
a:hover{
  opacity: 0.7;
}

.out1{
  margin: 0 80.614px;
  /* padding-bottom:120px ; */
  /* height: 100; */
}

.out1 img{
  width: 570px;
  height: 570px;
  margin-left: 99.989px;
  padding: 0 15px;
  margin-left: 50%;
  width: 600px;


}
.leftsec{
  width: 470px;
  height: 570px;
  margin-top: -400px;
  padding: 0 15px;
  color:#142b6f;
  font-family: 'Roboto';
  font-weight: 400;
  text-align: left;
  
}
.leftsec h2{
  margin-bottom: 24px;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.4px;
  line-height: 54px;
  text-align: left;
}
.leftsec p{
  font-family: serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.leftsec .p a{
  margin-top: 32px;
  color: #142b6f;
  font-size: 18px;

}
.ffft{
  margin-bottom: 120px;
}
.fullft{
  color: #142b6f;
  margin: 0px 80.614px 0px 80.614px;
  /* display: flex; */
  /* justify-content: space-around; */
}
.ftpdt{
  /* margin-bottom: 32px; */
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.fullft a{
  margin-top: -32px;
  font-family: 'Roboto';
  color: #142b6f;
  /* justify-content: right; */
  font-size: 18px;
  border-bottom: 1.996px solid rgb(20, 43, 111);
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  float: right;
  /* text-decoration-color:rgb(20, 43, 111); */
  text-decoration-line:none ;
  text-decoration-style:solid; 
}
.ftimg{
  width: 25%;
  display: inline-block;
  /* margin-right: 30px; */
}
.ftimg img{
  display:flex;
  max-width:270px;
  height: 270px;
  margin-bottom: 18px;
  border-radius:20px ;
}
.ftimg .pa1{
  font-family: serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.ftimg .pa2{
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 40px;
}
.ftimg .pa3{
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 24px;
  opacity: 0.7;
}
.pa1:hover , .pa2:hover, .pa3:hover{
  cursor: pointer;
}
.fullclean{
  margin: 0 80.614px;
  margin-bottom: 200px;
  
}
.fullclean img{
  width: 570px;
  height: 570px;
  padding: 0 15px;
}
.rtsec{
  color:#142b6f;
  margin-left: 50%;
  /* margin-left: 99.989; */
  padding: 0 15px;
  margin-top: -400px;

}

.rtsec p, .rtsec h2,.rtsec ul{
  margin-left: 99.989px;
}
.rtsec h2{
  margin-bottom: 24px;
  /* width: 470px; */
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.4px;
  line-height: 54px;
  text-align: right;
}
.rtsec p{
  font-family: serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.rtsec ul{
  margin-top: 32px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  list-style: none;
}
.rtsec li{
  margin-left: 16px;
  font-family: serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 40px;
  text-align: left;
}
.fullmake{
  padding-bottom:120px;
  margin: 0 80.614px;

}
.makeyr{
  /* padding: 0 15px; */
  color: #142b6f;
}
.yrself{
  margin-bottom: 24px;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: -1.4px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}
.commit{
  margin-bottom: 56px;
  font-family: serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
}
.imgs{
  width: 25%;
  display: flex;
}
.imgs img{
  margin-right: 30px;
  width: 90%;
}
.imgs img:hover{
  cursor: pointer;
}
.foot{
  color: #142b6f;
  padding: 0 20px;
  margin: 0 60.614px;
}
.footin{
  padding: 80px 0;
}
.susc{
  margin-bottom: 32px;
  max-width: 300px;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 36px;
  text-align: left;
}
.email{
  margin-left: 50%;
  margin-top: -18%;
  padding: 0 24px;
}
.email input{
  align-items: center;
  align-content: stretch; 
  background-color: rgb(236, 234, 234);
  /* display: flex; */
  height: 60px;
  width: 560px;
  border: none;
  padding-left: 10px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  outline: none;
}
.foot2{
  color:#142b6f;
  margin-top: 150px;
  padding: 60px 0 56px 0;
  border-top: 3.991px solid #142b6f;
  display: flex;
  justify-content: space-between;
  
}
.foot2 span{
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
}
.foot2 h4{
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 20px;
  font-family: 'Roboto';
  opacity: 0.7;
}
.foot2 ul{
  font-family: 'Roboto';
  list-style: none;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.8px;
  padding-top: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
} 
.foot3{
  border-top:0.998px solid #142b6f;
  padding: 24px 0;
  display: flex;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}
.foot3 div{
  margin-right: 16px;
}
#foot4{
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;

}
.foot6{
  margin-top: -5%;
  margin-left: 50%;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto';
  margin-bottom: 80px;

}
.box{
  border: 0.998px solid rgb(211,211,211);
  padding: 16px;
  margin-bottom: 16px;
}